<% if tenants.any? %>
  <div class="overflow-x-auto relative rounded-md">
    <table class="w-full text-sm text-left text-gray-500">
      <thead class="text-xs text-gray-800 uppercase bg-gray-200 lg:table-fixed">
        <tr>
          <th class="p-3 w-1/12"><%= sort_link(@q, :status, 'Status', default_order: :desc, class: 'underline' ) %></th>
          <th class="p-3 w-1/12 text-center">Avatar</th>
          <th class="p-3">Email</th>
          <th class="p-3">First Name</th>
          <th class="p-3">Last Name</th>
          <th class="p-3">Gender</th>
          <th class="p-3">Contact</th>
        </tr>
      </thead>
      <tbody>
        <% tenants.each do |tenant| %>
          <tr class="bg-white border-b hover:bg-gray-100 text-gray-800">
            <td class="p-3">
              <% if tenant.active? %>
                <span class="text-white font-medium rounded-lg text-sm px-2 py-1 bg-blue-600"><%= tenant.status.upcase %></span>
              <% elsif tenant.inactive? %>
                <span class="text-white font-medium rounded-lg text-sm px-2 py-1 bg-gray-400"><%= tenant.status.upcase %></span>
              <% end %>
            </td>
            <td class="p-3">
              <% if current_user.avatar.attached? %>
                <%= image_tag current_user.avatar, class: 'max-w-[40px] h-auto rounded-lg m-auto' %>
                <%= button_to 'Remove', purge_avatar_profile_path, class: 'font-medium text-blue-600 hover:underline' %>
              <% else %>
                <%= image_tag ("user.png"), class: 'max-w-[40px] h-auto rounded-lg m-auto' %>
              <% end %>
            </td>
            <td class="p-3"><%= link_to tenant.email, tenant_path(tenant), class: 'font-medium text-blue-600 hover:underline' %></td>
            <td class="p-3"><%= tenant.first_name.capitalize %></td>
            <td class="p-3"><%= tenant.last_name.capitalize %></td>
            <td class="p-3"><%= tenant.gender.capitalize %></td>
            <td class="p-3"><%= tenant.contact_no %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div>
    <p class="italic text-sm">Empty</p>
  </div>
<% end %>