<h1>Welcome, <%= current_user.role.upcase %></h1>

<h2>Announcements</h2>
<% if @announcement %>
  <p><strong><%= @announcement.title %></strong></p>
  <p><%= @announcement.description %></p>
<% else %>
  <p>No announcment found</p>
<% end %>


<%= link_to 'Profile', user_profile_path %> <br>

<br><br>
<%= button_to "Sign out", destroy_user_session_path, method: :delete  %> <br>