<h1>Tenants#index</h1>
<p>Find me in app/views/tenants/index.html.erb</p>

<h1>New Tenants</h1>
<% if @new_tenants.any? %>
  <table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Full Name</th>
      <th>Email</th>
      <th>Gender</th>
      <th>Occupation</th>
      <th>Contact</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    <% @new_tenants.each do |tenant| %>
      <tr>
        <td><%= tenant.id %></td>
        <td><%= tenant.first_name.capitalize %> <%= tenant.last_name.capitalize %></td>
        <td><%= tenant.email %></td>
        <td><%= tenant.gender.capitalize %></td>
        <td><%= tenant.occupation.capitalize %></td>
        <td><%= tenant.contact_no %></td>
        <td><%= tenant.address.capitalize %></td>
        <td><%= link_to 'Profile', tenant_path(tenant) %></td>
        <% booking = tenant.bookings.where(status: 'active').last %>
        <% if booking.present? %>
          <td><%= link_to 'Booking Details', booking_path(booking) %></td>
        <% else %>
          <td><%= link_to 'Add Booking', new_tenant_booking_path(tenant) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <p><em>No New Tenants</em></p>
<% end %>


<h1>Tenants</h1>
<% if @tenants_with_booking.any? %>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Gender</th>
        <th>Occupation</th>
        <th>Contact</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
      <% @tenants_with_booking.each do |tenant| %>
        <tr>
          <td><%= tenant.id %></td>
          <td><%= tenant.first_name.capitalize %> <%= tenant.last_name.capitalize %></td>
          <td><%= tenant.email %></td>
          <td><%= tenant.gender.capitalize %></td>
          <td><%= tenant.occupation.capitalize %></td>
          <td><%= tenant.contact_no %></td>
          <td><%= tenant.address.capitalize %></td>
          <td><%= link_to 'Profile', tenant_path(tenant) %></td>
          <% booking = tenant.bookings.where(status: 'active').last %>
          <% if booking.present? %>
            <td><%= link_to 'Booking Details', booking_path(booking) %></td>
          <% else %>
            <td><%= link_to 'Add Booking', new_tenant_booking_path(tenant) %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p><em>No Tenants Found</em></p>
<% end %>

<br>
<%= link_to 'Back', authenticated_root_path %>
