<div class="mb-4 flex flex-col gap-4">
  <h1 class="text-xl lg:text-2xl font-bold">Tenant Details</h1>
  <div class="overflow-x-auto relative rounded-md">
    <div class="flex gap-2 place-items-center mb-2">
      <h1 class="lg:text-lg font-bold">Account Details</h1>
      <% if @tenant.inactive? %>
        <% if !current_user.cashier? %>
          <%= button_to 'Activate', activate_tenant_path(@tenant), class: 'block w-fit py-1 px-4 text-sm font-medium  text-white bg-blue-600 rounded-lg focus:ring-4 focus:ring-blue-200 hover:bg-blue-700 hover:cursor-pointer' %>
        <% end %>
      <% end %>
    </div>
    <table class="w-full text-sm text-left text-gray-500">
      <thead class="text-xs text-gray-800 uppercase bg-gray-200 lg:table-fixed">
        <tr>
          <th class="p-3 w-1/12">Status</th>
          <th class="p-3 w-1/12 text-center">Avatar</th>
          <th class="p-3">Email</th>
          <th class="p-3">First Name</th>
          <th class="p-3">Last Name</th>
          <th class="p-3">Gender</th>
          <th class="p-3">Birthdate</th>
          <th class="p-3">Occupation</th>
        </tr>
      </thead>
      <tbody>
        <tr class="bg-white border-b hover:bg-gray-100 text-gray-800">
          <td class="p-3 font-medium"><%= @tenant.status.capitalize %></td>
          <td class="p-3">
            <% if current_user.avatar.attached? %>
              <%= image_tag current_user.avatar, class: 'max-w-[40px] h-auto rounded-lg m-auto' %>
              <%= button_to 'Remove', purge_avatar_profile_path, class: 'font-medium text-blue-600 hover:underline' %>
            <% else %>
              <%= image_tag ("https://cdn-icons-png.flaticon.com/512/847/847969.png"), class: 'max-w-[40px] h-auto rounded-lg m-auto' %>
            <% end %>
          </td>
          <td class="p-3"><%= @tenant.email %></td>
          <td class="p-3"><%= @tenant.first_name %></td>
          <td class="p-3"><%= @tenant.last_name %></td>
          <td class="p-3"><%= @tenant.gender.capitalize %></td>
          <td class="p-3"><%= @tenant.birthdate %></td>
          <td class="p-3"><%= @tenant.occupation.capitalize %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="overflow-x-auto relative rounded-md">
    <h1 class="lg:text-lg font-bold">Contact Details</h1>
    <table class="w-full text-sm text-left text-gray-500 lg:table-fixed">
      <thead class="text-xs text-gray-800 uppercase bg-gray-200 lg:table-fixed">
        <tr>
          <th class="p-3">Contact No</th>
          <th class="p-3">Address</th>
          <th class="p-3">Emergency Contact Person</th>
          <th class="p-3">Emergency Contact No</th>
        </tr>
      </thead>
      <tbody>
        <tr class="bg-white border-b hover:bg-gray-100 text-gray-800">
          <td class="p-3 font-medium"><%= @tenant.contact_no %></td>
          <td class="p-3 w-3/5"><%= @tenant.address %></td>
          <td class="p-3"><%= @tenant.emergency_contact_person.capitalize %></td>
          <td class="p-3"><%= @tenant.emergency_contact_no %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="overflow-x-auto relative rounded-md">
    <div class="flex gap-2 place-items-center mb-2">
      <h1 class="lg:text-lg font-bold">Bookings</h1>
      <% if @tenant.active? && !@tenant.bookings.where(status: 'active').any? && !current_user.cashier? %>
        <%= link_to 'Add Booking', new_tenant_booking_path(@tenant), class: 'block w-fit py-1 px-4 text-sm font-medium  text-white bg-blue-600 rounded-lg focus:ring-4 focus:ring-blue-200 hover:bg-blue-700 hover:cursor-pointer' %>
      <% end %>
    </div>
    <% if @tenant.bookings.includes(:room).any? %>
      <table class="w-full text-sm text-left text-gray-500 lg:table-fixed">
        <thead class="text-xs text-gray-800 uppercase bg-gray-200 lg:table-fixed">
          <tr>
            <th class="p-3 w-1/12">ID</th>
            <th class="p-3">Status</th>
            <th class="p-3">Room</th>
            <th class="p-3 text-center">Move-In Date</th>
            <th class="p-3 text-center">Move-Out Date</th>
            <th class="p-3 text-center">Due Date</th>
            <th class="p-3">Processed by</th>
          </tr>
        </thead>
        <tbody>
          <% @tenant.bookings.each do |booking| %>
            <tr class="bg-white border-b hover:bg-gray-100 text-gray-800">
              <td class="p-3 font-medium"><%= link_to booking.id, booking_path(booking), class: 'text-blue-600 hover:underline' %></td>
              <td class="p-3 font-medium"><%= booking.status.capitalize %></td>
              <td class="p-3"><%= booking.room.room_code %></td>
              <td class="p-3 text-center"><%= booking.move_in_date %></td>
              <td class="p-3 text-center"><%= booking.move_out_date ? booking.move_out_date : '-' %></td>
              <td class="p-3 text-center"><%= booking.due_date %></td>
              <td class="p-3"><%= booking.processed_by %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <div>
        <p class="text-sm italic">Empty</p>
      </div>
    <% end %>
  </div>
  <% if @tenant.invoices.includes(:booking).any? %>
    <div class="overflow-x-auto relative rounded-md">
      <h1 class="lg:text-lg font-bold">Invoices</h1>
      <table class="w-full text-sm text-left text-gray-500 lg:table-fixed">
        <thead class="text-xs text-gray-800 uppercase bg-gray-200 lg:table-fixed">
          <tr>
            <th class="p-3 w-1/12">ID</th>
            <th class="p-3 w-[120px]">Booking ID</th>
            <th class="p-3 w-1/12">Status</th>
            <th class="p-3 text-center">Total Amount</th>
            <th class="p-3 text-center">Date From</th>
            <th class="p-3 text-center">Date To</th>
            <th class="p-3 text-center">Processed by</th>
            <th class="p-3">Remarks</th>
          </tr>
        </thead>
        <tbody>
          <% @tenant.invoices.each do |invoice| %>
            <tr class="bg-white border-b hover:bg-gray-100 text-gray-800">
              <td class="p-3 font-medium"><%= link_to invoice.id, invoice_path(invoice), class: 'text-blue-600 hover:underline' %></td>
              <td class="p-3"><%= invoice.booking.id %></td>
              <td class="p-3 font-medium"><%= invoice.status.capitalize %></td>
              <td class="p-3 text-center">₱<%= invoice.total_amount %></td>
              <td class="p-3 text-center"><%= invoice.date_from %></td>
              <td class="p-3 text-center"><%= invoice.date_to %></td>
              <td class="p-3 text-center"><%= invoice.processed_by %></td>
              <td class="p-3"><%= invoice.remarks %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
  <% if @tenant.payments.includes(:invoice).any? %>
    <div class="overflow-x-auto relative rounded-md">
      <h1 class="lg:text-lg font-bold">Payments</h1>
      <table class="w-full text-sm text-left text-gray-500 lg:table-fixed">
        <thead class="text-xs text-gray-800 uppercase bg-gray-200 lg:table-fixed">
          <tr>
            <th class="p-3 w-1/12">ID</th>
            <th class="p-3 w-1/12">Invoice ID</th>
            <th class="p-3 w-1/12">Status</th>
            <th class="p-3 text-center">Amount</th>
            <th class="p-3 text-center">Mode of Payment</th>
            <th class="p-3 text-center">Initiated by</th>
            <th class="p-3 text-center">Processed by</th>
            <th class="p-3">Remarks</th>
          </tr>
        </thead>
        <tbody>
          <% @tenant.payments.each do |payment| %>
            <tr class="bg-white border-b hover:bg-gray-100 text-gray-800">
              <td class="p-3 font-medium"><%= link_to payment.id, payment_path(payment), class: 'text-blue-600 hover:underline' %></td>
              <td class="p-3"><%= payment.invoice.id %></td>
              <td class="p-3 font-medium"><%= payment.status.capitalize %></td>
              <td class="p-3 text-center">₱<%= payment.amount %></td>
              <td class="p-3 text-center"><%= payment.payment_mode.capitalize %></td>
              <td class="p-3 text-center"><%= payment.initiated_by %></td>
              <td class="p-3 text-center"><%= payment.processed_by %></td>
              <td class="p-3"><%= payment.remarks %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>

<%= link_to 'Back', :back, class: 'block w-fit py-1.5 px-4 text-sm font-medium  text-white bg-blue-600 rounded-lg focus:ring-4 focus:ring-blue-200 hover:bg-blue-700 hover:cursor-pointer' %>