<div class="mb-4">
  <div class="mb-4">
    <h1 class="text-lg lg:text-xl font-bold mb-1">Tenant Details</h1>
  </div>
  <div class="border border-gray-200 px-3 py-4 rounded-lg mb-4">
    <div class="flex gap-2 place-items-center mb-2">
      <p><strong>Status:</strong></p>
      <% if @tenant.active? %>
        <p class="text-white font-medium rounded-lg text-sm px-2 py-1 bg-green-600"><%= @tenant.status.upcase %></p>
      <% elsif @tenant.inactive? %>
        <p class="text-white font-medium rounded-lg text-sm px-2 py-1 bg-gray-400"><%= @tenant.status.upcase %></p>
      <% end %>
    </div>
    <div class="flex gap-2 place-items-center mb-2">
      <p><strong>Email:</strong></p>
      <p><%= @tenant.email %></p>
    </div>
    <div class="flex gap-2 place-items-center mb-2">
      <p><strong>Full Name:</strong></p>
      <p><%= @tenant.first_name.capitalize %> <%= @tenant.last_name.capitalize %></p>
    </div>
    <div class="flex gap-2 place-items-center mb-2">
      <p><strong>Gender:</strong></p>
      <p><%= @tenant.gender.capitalize %></p>
    </div>
    <div class="flex gap-2 place-items-center mb-2">
      <p><strong>Birthdate:</strong></p>
      <p><%= @tenant.birthdate %></p>
    </div>
    <div class="flex gap-2 place-items-center mb-2">
      <p><strong>Occupation:</strong></p>
      <p><%= @tenant.occupation.capitalize %></p>
    </div>
    <div class="flex gap-2 place-items-center mb-6">
      <p><strong>Contact No:</strong></p>
      <p><%= @tenant.contact_no %></p>
    </div>
    <h1 class="mb-2 font-bold underline">In Case of Emergency</h1>
    <div class="flex gap-2 place-items-center mb-2">
      <p><strong>Contact Person:</strong></p>
      <p><%= @tenant.emergency_contact_person %></p>
    </div>
    <div class="flex gap-2 place-items-center mb-2">
      <p><strong>Contact No:</strong></p>
      <p><%= @tenant.emergency_contact_no %></p>
    </div>
    
    <% if @tenant.inactive? %>
      <% if @tenant.inactive? %>
        <%= button_to 'Activate', activate_tenant_path(@tenant), class: 'block w-fit py-1.5 px-4 text-sm font-medium text-center text-white bg-blue-600 rounded-lg focus:ring-4 focus:ring-blue-200 hover:bg-blue-700 hover:cursor-pointer' %>
      <% end %>
    <% end %>
  </div>

  <% if @tenant.active? %>
    <div class="mb-4">
      <h1 class="text-lg lg:text-xl font-bold mb-1">Tenancy Details</h1>
      <div class="border border-gray-200 px-3 py-4 rounded-lg mb-4">
        <% if @active_booking.present? %>
          <div class="flex gap-2 place-items-center mb-2">
            <p><strong>Booking ID:</strong></p>
            <p><%= @active_booking.id %></p>
          </div>
          <div class="flex gap-2 place-items-center mb-2">
            <p><strong>Move-In Date:</strong></p>
            <p><%= @active_booking.move_in_date %></p>
          </div>
          <div class="flex gap-2 place-items-center mb-2">
            <p><strong>Payment Due Date:</strong></p>
            <p><%= @active_booking.due_date %></p>
          </div>
          <div class="flex gap-2 place-items-center mb-2">
            <p><strong>Room Code:</strong></p>
            <p><%= @active_booking.room.room_code %></p>
          </div>
          <div class="flex gap-2 place-items-center mb-2">
            <p><strong>Monthly Rate:</strong></p>
            <p>₱<%= @active_booking.room.monthly_rate %></p>
          </div>
          
          <% if current_user.admin? || current_user.owner? || current_user.receptionist? %>
            <%= button_to 'Deactivate', deactivate_booking_path(@active_booking), class: 'block w-fit py-1.5 px-4 text-sm font-medium text-center text-white bg-blue-600 rounded-lg focus:ring-4 focus:ring-blue-200 hover:bg-blue-700 hover:cursor-pointer' %>
          <% end %>
        <% else %>
          <p class="mb-2">Tenant has no active booking</p>
          <%= link_to 'Add Booking', new_tenant_booking_path(@tenant), class: 'block w-fit py-1.5 px-4 text-sm font-medium text-center text-white bg-blue-600 rounded-lg focus:ring-4 focus:ring-blue-200 hover:bg-blue-700 hover:cursor-pointer' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<%= link_to 'Back', tenants_path, class: 'block w-fit py-1.5 px-4 text-sm font-medium text-center text-white bg-blue-600 rounded-lg focus:ring-4 focus:ring-blue-200 hover:bg-blue-700 hover:cursor-pointer' %>

