<h1>New Announcement</h1>

<%= form_with model: @announcement do |f| %>
  
  <div>
    <% if @announcement.errors.any? %>
      <ul>
        <% @announcement.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      /ul>
    <% end %>
  </div>

  <div>
    <%= f.label :title %> <br>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :description %> <br>
    <%= f.text_area :description, :cols => 30, :rows => 10 %>
  </div>

  <div>
    <%= f.submit 'Publish Announcement' %>
  </div>
<% end %>