<div>
  <h1 class="text-xl lg:text-2xl font-bold">Edit Profile</h1>
</div>

<div class="flex-auto overflow-y-auto">
  <div class="max-w-md p-1">
    <%= form_with model: @user, data: {turbo: false}, url: profile_path, method: :patch do |f| %>
      <div class="flex flex-col gap-2 mb-4 justify-center">
        <% invalid_first_name = @user.errors.include?(:first_name) %>
        <div>
          <%= f.label :first_name, class: 'block font-medium' %> 
          <% if invalid_first_name %>
            <% @user.errors.full_messages_for(:first_name).each do |msg| %>
              <div class="text-red-500 text-sm">
                (<%= msg %>)
              </div>
            <% end %>
          <% end %>
          <%= f.text_field :first_name, autofocus: (true if invalid_first_name), class: "bg-gray-50 w-full block border rounded-lg #{invalid_first_name ? 'border-red-400 border-2 focus:ring-red-400 focus:border-red-400' : 'border-gray-300 focus:ring-blue-500 focus:border-blue-500'}" %>
        </div>

        <% invalid_last_name = @user.errors.include?(:last_name) %>
        <div>
          <%= f.label :last_name, class: 'block font-medium' %> 
          <% if invalid_last_name %>
            <% @user.errors.full_messages_for(:last_name).each do |msg| %>
              <div class="text-red-500 text-sm">
                (<%= msg %>)
              </div>
            <% end %>
          <% end %>
          <%= f.text_field :last_name, autofocus: (true if invalid_last_name), class: "bg-gray-50 w-full block border rounded-lg #{invalid_last_name ? 'border-red-400 border-2 focus:ring-red-400 focus:border-red-400' : 'border-gray-300 focus:ring-blue-500 focus:border-blue-500'}" %>
        </div>

        <% invalid_contact_no = @user.errors.include?(:contact_no) %>
        <div>
          <%= f.label :contact_no, class: 'block font-medium' %> 
          <% if invalid_contact_no %>
            <% @user.errors.full_messages_for(:contact_no).each do |msg| %>
              <div class="text-red-500 text-sm">
                (<%= msg %>)
              </div>
            <% end %>
          <% end %>
          <%= f.text_field :contact_no, autofocus: (true if invalid_contact_no), class: "bg-gray-50 w-full block border rounded-lg #{invalid_contact_no ? 'border-red-400 border-2 focus:ring-red-400 focus:border-red-400' : 'border-gray-300 focus:ring-blue-500 focus:border-blue-500'}" %>
        </div>

        <% invalid_address = @user.errors.include?(:address) %>
        <div>
          <%= f.label :address, class: 'block font-medium' %> 
          <% if invalid_address %>
            <% @user.errors.full_messages_for(:address).each do |msg| %>
              <div class="text-red-500 text-sm">
                (<%= msg %>)
              </div>
            <% end %>
          <% end %>
          <%= f.text_field :address,autofocus: (true if invalid_address), class: "bg-gray-50 w-full block border rounded-lg #{invalid_address ? 'border-red-400 border-2 focus:ring-red-400 focus:border-red-400' : 'border-gray-300 focus:ring-blue-500 focus:border-blue-500'}" %>
        </div>

        <div>
          <%= f.label :emergency_contact_person, class: 'block font-medium mb-1 capitalize' %> 
          <%= f.text_field :emergency_contact_person, class: "bg-gray-50 w-full block border rounded-lg border-gray-300 focus:ring-blue-500 focus:border-blue-500" %>
        </div>

        <div>
          <%= f.label :emergency_contact_no, class: 'block font-medium capitalize' %> 
          <%= f.text_field :emergency_contact_no, class: "bg-gray-50 w-full block border rounded-lg border-gray-300 focus:ring-blue-500 focus:border-blue-500" %>
        </div>

        <div>
          <%= f.label 'Profile Picture', class: 'block font-medium capitalize' %> 
          <%= f.file_field :avatar, class: 'bg-gray-50 block w-full text-gray-900 rounded-lg border border-gray-300 cursor-pointer focus:outline-none file:bg-gray-200 file:rounded-lg file:hover:cursor-pointer file:hover:bg-gray-300 file:border-none file:p-2 file:rounded-r-none file:px-4' %>
        </div>

        <div>
      </div>
      <div class="flex gap-2 items-center">
        <%= f.submit 'Update Profile', class: 'block py-1.5 px-4 font-medium text-center text-white bg-blue-600 rounded-lg focus:ring-4 focus:ring-blue-200 hover:bg-blue-700 hover:cursor-pointer' %>
        <%= link_to 'Cancel', profile_path, class: 'block py-1.5 px-4 font-medium text-center text-white bg-blue-600 rounded-lg focus:ring-4 focus:ring-blue-200 hover:bg-blue-700 hover:cursor-pointer' %>
      </div>
    <% end %>
  </div>
</div>