<div>
  <h1 class="text-xl lg:text-2xl font-bold">Profile</h1>
</div>

<div class="flex-auto overflow-y-auto">
  <div class="max-w-min m-auto lg:m-0">
    <div class="mb-4">
      <% if current_user.avatar.attached? %>
        <%= image_tag current_user.avatar, class: 'max-w-[180px] h-auto rounded-lg m-auto' %>
        <%= button_to 'Remove', purge_avatar_profile_path, class: 'block m-auto font-medium text-blue-600 hover:underline text-sm' %>
      <% else %>
        <%= image_tag ("https://evascursos.com.br/wp-content/uploads/2020/03/avatar-large-square.jpg"), class: 'max-w-[180px] h-auto rounded-lg m-auto' %>
      <% end %>
    </div>
    <div>
      <div class="flex gap-2 place-items-center">
        <p class="w-28 md:w-40"><strong>Email:</strong></p>
        <p><%= @user.email %></p>
      </div>
      <div class="flex gap-2 place-items-center">
        <p class="w-28 md:w-40 capitalize"><strong>Full Name:</strong></p>
        <p><%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></p>
      </div>
      <div class="flex gap-2 place-items-center">
        <p class="w-28 md:w-40"><strong>Gender:</strong></p>
        <p><%= @user.gender.capitalize %></p>
      </div>
      <div class="flex gap-2 place-items-center">
        <p class="w-28 md:w-40"><strong>Birthdate:</strong></p>
        <p><%= @user.birthdate %></p>
      </div>
      
      <% if @user.tenant? %>
        <div class="flex gap-2 place-items-center">
          <p class="w-28 md:w-40"><strong>Occupation:</strong></p>
          <p><%= @user.occupation %></p>
        </div>
      <% else %>
        <div class="flex gap-2 place-items-center">
          <p class="w-28 md:w-40"><strong>Role:</strong></p>
          <p><%= @user.role.capitalize %></p>
        </div>
      <% end %>
      
      <div class="flex gap-2 place-items-center">
        <p class="w-28 md:w-40"><strong>Contact No:</strong></p>
        <p><%= @user.contact_no %></p>
      </div>
      <div class="flex gap-2 place-items-center mb-4">
        <p class="w-28 md:w-40 capitalize"><strong>Address:</strong></p>
        <p><%= @user.address.capitalize %></p>
      </div>
      <% if current_user.tenant? %>
        <h1 class="mb-2 font-bold underline">In Case of Emergency</h1>
        <div class="flex gap-2 place-items-center">
          <p class="w-28 md:w-40"><strong>Contact Person:</strong></p>
          <p><%= @user.emergency_contact_person %></p>
        </div>
        <div class="flex gap-2 place-items-center mb-4">
          <p class="w-28 md:w-40"><strong>Contact No:</strong></p>
          <p><%= @user.emergency_contact_no %></p>
        </div>
      <% end %>
    </div>
    <div class="flex flex-col gap-2">
      <%= link_to 'Edit Profile', edit_profile_path, class: 'block py-1.5 px-4 font-medium text-center text-white bg-blue-600 rounded-lg focus:ring-4 focus:ring-blue-200 hover:bg-blue-700 hover:cursor-pointer' %>
      <%= link_to 'Change Password', change_password_user_path, class: 'block py-1.5 px-4 font-medium text-center text-white bg-blue-600 rounded-lg focus:ring-4 focus:ring-blue-200 hover:bg-blue-700 hover:cursor-pointer' %>
    </div>
  </div>
</div>