<h1>Profile</h1>

<p><strong>Avatar:</strong></p>
<% if current_user.avatar.attached? %>
  <%= image_tag current_user.avatar, width: "80px", height: "80px" %>
  <br>
  <%= link_to 'Remove', purge_avatar_profile_path %>
<% else %>
  <%= image_tag ("/assets/user.png"), width: "80px", height: "80px" %>
  <p><em>You have not added an avatar</em></p>
<% end %>

<% if current_user.role == 'tenant' %>
  <p><strong>Email: </strong><%= @user.email %></p>
  <p><strong>Full Name: </strong><%= "#{@user.first_name} #{@user.last_name}" %></p>
  <p><strong>Gender: </strong><%= @user.gender.capitalize %></p>
  <p><strong>Birthdate: </strong><%= @user.birthdate %></p>
  <p><strong>Occupation: </strong><%= @user.occupation.capitalize %></p>
  <p><strong>Contact No.: </strong><%= @user.contact_no %></p>

  <hr>

  <h2>Tenancy Details</h2>
  <% if @booking.present? %>
    <p><strong>Booking ID: </strong><%= @booking.id %></p>
    <p><strong>Move-In Date: </strong><%= @booking.move_in_date %></p>
    <p><strong>Payment Due Date: </strong><%= @booking.due_date %></p>
    <p><strong>Room Code: </strong><%= @room.room_code.upcase %></p>
    <p><strong>Monthly Rate: </strong><%= @room.monthly_rate %></p>
  <% else %>
    <p><em>User has no booking</em></p>
  <% end %>
<% else %>
  <p><strong>Email: </strong><%= @user.email %></p>
  <p><strong>Full Name: </strong><%= "#{@user.first_name} #{@user.last_name}" %></p>
  <p><strong>Gender: </strong><%= @user.gender.capitalize %></p>
  <p><strong>Birthdate: </strong><%= @user.birthdate %></p>
  <p><strong>Role: </strong><%= @user.role.capitalize %></p>
  <p><strong>Contact No.: </strong><%= @user.contact_no %></p>
<% end %>

<%= link_to 'Edit', edit_profile_path %>
<br>
<br>
<%= link_to 'Back', authenticated_root_path %>


