<div class="mb-4 max-w-sm">
  <div class="mb-4">
    <div class="mb-4">
      <h1 class="text-lg lg:text-xl font-bold mb-1 max-w">User Profile</h1>
    </div>
    <div class="mb-2">
      <% if current_user.avatar.attached? %>
        <%= image_tag current_user.avatar, class: 'max-w-[200px] h-auto rounded-lg' %>
        <%= button_to 'Remove', purge_avatar_profile_path, class: 'font-medium text-blue-600 hover:underline' %>
      <% else %>
        <%= image_tag ("/assets/user.png"), class: 'max-w-[200px] h-auto rounded-lg mb-2' %>
        <p class="text-sm italic">You have not added an avatar</p>
      <% end %>
    </div>
    <div class="flex gap-2 place-items-center mb-2">
      <p><strong>Email:</strong></p>
      <p><%= @user.email %></p>
    </div>
    <div class="flex gap-2 place-items-center mb-2">
      <p><strong>Full Name:</strong></p>
      <p><%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></p>
    </div>
    <div class="flex gap-2 place-items-center mb-2">
      <p><strong>Gender:</strong></p>
      <p><%= @user.gender.capitalize %></p>
    </div>
    <div class="flex gap-2 place-items-center mb-2">
      <p><strong>Birthdate:</strong></p>
      <p><%= @user.birthdate %></p>
    </div>
    
    <% if @user.tenant? %>
      <div class="flex gap-2 place-items-center mb-2">
        <p><strong>Occupation:</strong></p>
        <p><%= @user.occupation %></p>
      </div>
    <% else %>
      <div class="flex gap-2 place-items-center mb-2">
        <p><strong>Role:</strong></p>
        <p><%= @user.role.capitalize %></p>
      </div>
    <% end %>
    
    <div class="flex gap-2 place-items-center mb-2">
      <p><strong>Contact No:</strong></p>
      <p><%= @user.contact_no %></p>
    </div>
    <div class="flex gap-2 place-items-center mb-6">
      <p><strong>Address:</strong></p>
      <p><%= @user.address.capitalize %></p>
    </div>
    <h1 class="mb-2 font-bold underline">In Case of Emergency</h1>
    <div class="flex gap-2 place-items-center mb-2">
      <p><strong>Contact Person:</strong></p>
      <p><%= @user.emergency_contact_person %></p>
    </div>
    <div class="flex gap-2 place-items-center mb-2">
      <p><strong>Contact No:</strong></p>
      <p><%= @user.emergency_contact_no %></p>
    </div>
  </div>
  <div class="flex gap-2 place-items-center mb-4">
    <%= link_to 'Edit Profile', edit_profile_path, class: 'block w-fit py-1.5 px-4 text-sm font-medium text-center text-white bg-blue-600 rounded-lg focus:ring-4 focus:ring-blue-200 hover:bg-blue-700 hover:cursor-pointer' %>
    <%= link_to 'Change Password', change_password_user_path, class: 'block w-fit py-1.5 px-4 text-sm font-medium text-center text-white bg-blue-600 rounded-lg focus:ring-4 focus:ring-blue-200 hover:bg-blue-700 hover:cursor-pointer' %>
  </div>
  <%= link_to 'Back', authenticated_root_path, class: 'block w-fit py-1.5 px-4 text-sm font-medium text-center text-white bg-blue-600 rounded-lg focus:ring-4 focus:ring-blue-200 hover:bg-blue-700 hover:cursor-pointer' %>
</div>

