<h1>Branch <%= @branch.id %></h1>

<h2><%= @branch.branch_type %> | <%= @branch.address %></h2>

<h2>Branch <%= @branch.id %> Rooms</h2>

<table>
  <thead>
    <tr>
      <th>Room Code</th>
      <th>Monthly Rate</th>
      <th>Occupants</th>
      <th>Capacity</th>
      <th>Available</th>
    </tr>
  </thead>
  <tbody>
    <% @branch.rooms.each do |room| %>
      <tr>
        <td><%= room.room_code.upcase %></td>
        <td><%= room.monthly_rate %></td>
        <td><%= room.occupants %></td>
        <td><%= room.capacity %></td>
        <td><%= room.capacity - room.occupants %></td>
        <td><%= link_to 'View', [@branch, room] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', branches_path %>