<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Greetings, <%= @user.first_name %> <%= @user.last_name %></h3>
    <p>
      Welcome to your new home! On behalf of Modern World Property Management Inc., we would like to extend a warm welcome and express our gratitude for choosing us as your place of residence. <br>
    </p>
    <p>To start using our online platform, we are providing you your user credentials below:</p>
    <span>Email: <%= @user.email %></span><br>
    <span>Password: <%= @user.password %></span><br>
    <p>Don't forget to change your password on your first login.</p>
    <p>Click <%= link_to 'here', unauthenticated_root_url %> to visit your portal.</p>
    <p>If you have any questions, don't hesitate to contact us.</p>
    <p>Thank you and have a great day!</p>
  </body>
</html>