<% if invoices.any? %>
  <div class="overflow-x-auto relative rounded-md">
    <table class="w-full text-sm text-left text-gray-500">
      <thead class="text-xs text-gray-800 uppercase bg-gray-200 lg:table-fixed">
        <tr>
          <th class="p-3">ID</th>
          <% if current_page?(invoices_path) %>
            <th class="p-3">Status</th>
          <% end %>
          <th class="p-3">Tenant</th>
          <th class="p-3 text-center">Room Rate</th>
          <th class="p-3 text-center">Water Bill</th>
          <th class="p-3 text-center">Electricity Bill</th>
          <th class="p-3 text-center">Total Amount</th>
          <th class="p-3 text-center">Remarks</th>
          <th class="p-3 text-center">Processed By</th>
        </tr>
      </thead>
      <tbody>
        <% invoices.each do |invoice| %>
        <tr class="bg-white border-b hover:bg-gray-100 text-gray-800">
          <td class="p-3"><%= link_to invoice.id, invoice_path(invoice), class: 'font-medium text-blue-600 hover:underline' %></td>
          <% if current_page?(invoices_path) %>
            <td class="p-3">
              <% if invoice.unpaid? %>
                <span class="text-white font-medium rounded-lg text-sm px-2 py-1 bg-orange-600"><%= invoice.status.upcase %></span>
              <% elsif invoice.paid? %>
                <span class="text-white font-medium rounded-lg text-sm px-2 py-1 bg-blue-600"><%= invoice.status.upcase %></span>
              <% end %>
            </td>
          <% end %>
          
          <td class="p-3 font-medium"><%= invoice.booking.user.email %></td>
          <td class="p-3 text-center"><%= number_to_currency(invoice.room_rate, unit: '₱') %></td>
          <td class="p-3 text-center"><%= number_to_currency(invoice.water_bill, unit: '₱') %></td>
          <td class="p-3 text-center"><%= number_to_currency(invoice.electricity_bill, unit: '₱') %></td>
          <td class="p-3 text-center"><%= number_to_currency(invoice.total_amount, unit: '₱') %></td>
          <td class="p-3 text-center"><%= invoice.remarks %></td>
          <td class="p-3 text-center"><%= invoice.processed_by %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div>
    <p class="italic text-sm">Empty</p>
  </div>
<% end %>