<div>
  <h1 class="text-xl lg:text-2xl font-bold">Payment for Invoice No: <%= @invoice.id %></h1>
</div>

<div class="flex-auto overflow-y-auto">
  <div class="flex flex-col gap-4 justify-center">
    <div>
      <div class="flex gap-2 place-items-center">
        <p class="w-40"><strong>Invoice Amount:</strong></p>
        <p><%= number_to_currency(@invoice.total_amount,unit: '₱') %></p>
      </div>
      <div class="flex gap-2 place-items-center">
        <p class="w-40"><strong>Convenience Fee:</strong></p>
        <p><%= number_to_currency(((@invoice.total_amount / 0.975) - @invoice.total_amount), unit: '₱') %></p>
      </div>
    </div>
    <div>
      <div class="flex flex-col gap-2 justify-center md:place-items-center md:flex-row md:justify-start">
        <p class="w-40"><strong>Total Amount:</strong></p>
        <p class="text-2xl font-bold place-self-center md:place-self-start"><%= number_to_currency((@invoice.total_amount / 0.975), unit: '₱') %></p>
      </div>
    </div>
    <div class="flex flex-col gap-2 md:place-items-center md:flex-row md:justify-start mt-4">
      <%= button_to 'Send Payment', links_path, params: {amount: @invoice.total_amount / 0.975, description: @invoice.id}, method: :post, data: {turbo: false}, form: {target: '_blank'}, class: 'block w-full py-1.5 px-4 font-medium text-center text-white bg-blue-600 rounded-lg focus:ring-4 focus:ring-blue-200 hover:bg-blue-700 hover:cursor-pointer' %>
      <%= link_to 'Cancel', invoice_path(@invoice), class: 'block md:w-fit py-1.5 px-4 font-medium text-center text-white bg-blue-600 rounded-lg focus:ring-4 focus:ring-blue-200 hover:bg-blue-700 hover:cursor-pointer' %>
    </div>
  </div>
</div>