<div>
  <h1 class="text-xl lg:text-2xl font-bold">INVOICE NO: <%= @invoice.id %></h1>
</div>

<div class="flex-auto overflow-y-auto">
  <div class="flex flex-col gap-4 justify-center">
    <div>
      <div class="flex gap-2 place-items-center">
        <p class="w-40"><strong>Status:</strong></p>
        <% if @invoice.unpaid? %>
          <p class="text-white font-medium rounded-lg text-sm px-2 py-1 bg-orange-600"><%= @invoice.status.upcase %></p>
        <% elsif @invoice.paid? %>
          <p class="text-white font-medium rounded-lg text-sm px-2 py-1 bg-blue-600"><%= @invoice.status.upcase %></p>
        <% end %>
      </div>
      <div class="flex gap-2 place-items-center">
        <p class="w-40"><strong>Booking ID:</strong></p>
        <p><%= link_to @invoice.booking.id, booking_path(@invoice.booking), class: 'font-medium text-blue-600 hover:underline' %></p>
      </div>
      <div class="flex flex-col md:gap-2 justify-center md:place-items-center md:justify-start md:flex-row">
        <p class="w-40"><strong>Invoice Date:</strong></p>
        <p><%= @invoice.created_at.strftime("%Y-%b-%d") %></p>
      </div>
      <div class="flex flex-col md:gap-2 justify-center md:place-items-center md:justify-start md:flex-row">
        <p class="w-40"><strong>Due Date:</strong></p>
        <p><%= @invoice.booking.due_date.strftime("%Y-%b-%d") %></p>
      </div>
    </div>
    <div>
      <p><strong>Billed to:</strong></p>
      <p><%= @invoice.booking.user.first_name.capitalize %> <%= @invoice.booking.user.last_name.capitalize %></p>
      <p><%= @invoice.booking.user.address.capitalize %></p>
      <p><%= @invoice.booking.user.email %></p>
    </div>
    <div>
      <div class="flex gap-2 place-items-center">
        <p class="w-40"><strong>Description:</strong></p>
        <p><%= @invoice.remarks %></p>
      </div>
      <div class="flex flex-col justify-center md:flex-row md:place-items-center md:justify-start md:gap-2">
        <p class="w-40"><strong>Period:</strong></p>
        <p><%= @invoice.date_from.strftime("%y-%b-%d") %> to <%= @invoice.date_to.strftime("%y-%b-%d") %></p>
      </div>
    </div>
    <div>
      <div class="flex gap-2 place-items-center">
        <p class="w-40"><strong>Room Rate:</strong></p>
        <p><%= number_to_currency(@invoice.room_rate, unit: '₱') %></p>
      </div>
      <div class="flex gap-2 place-items-center">
        <p class="w-40"><strong>Meralco:</strong></p>
        <p><%= number_to_currency(@invoice.electricity_bill, unit: '₱') %></p>
      </div>
      <div class="flex gap-2 place-items-center">
        <p class="w-40"><strong>Maynilad:</strong></p>
        <p><%= number_to_currency(@invoice.water_bill, unit: '₱') %></p>
      </div>
    </div>
    <div>
      <div class="flex gap-2 place-items-center">
        <p class="w-40"><strong>Total Amount:</strong></p>
        <p class="font-bold text-lg"><%= number_to_currency(@invoice.total_amount, unit: '₱') %></p>
      </div>
    </div>
    <div class="flex gap-2 place-items-center">
      <% if current_user.tenant? && @invoice.unpaid? %>
        <%= link_to 'Send Payment', payment_invoice_path(@invoice), class: 'block w-fit py-1.5 px-4 font-medium text-center text-white bg-blue-600 rounded-lg focus:ring-4 focus:ring-blue-200 hover:bg-blue-700 hover:cursor-pointer' %>
      <% end %>
      <% if @invoice.paid? %>
        <%= link_to 'View Payment Details', payment_path(@invoice.payment), class: 'block w-fit py-1.5 px-4 font-medium text-center text-white bg-blue-600 rounded-lg focus:ring-4 focus:ring-blue-200 hover:bg-blue-700 hover:cursor-pointer' %>
      <% end %>
      <% if @invoice.unpaid? && !current_user.tenant? %>
        <%= link_to 'Cash Payment', new_invoice_payment_path(@invoice), class: 'block w-fit py-1.5 px-4 font-medium text-center text-white bg-blue-600 rounded-lg focus:ring-4 focus:ring-blue-200 hover:bg-blue-700 hover:cursor-pointer' %>
        <%= link_to 'Update Invoice', edit_invoice_path(@invoice), class: 'block w-fit py-1.5 px-4 font-medium text-center text-white bg-blue-600 rounded-lg focus:ring-4 focus:ring-blue-200 hover:bg-blue-700 hover:cursor-pointer' %>
      <% end %>
    </div>
  </div>
</div>

<div>
  <%= link_to 'Back', invoices_path, class: 'block w-fit py-1.5 px-4 text-sm font-medium text-center text-white bg-blue-600 rounded-lg focus:ring-4 focus:ring-blue-200 hover:bg-blue-700 hover:cursor-pointer' %>
</div>