<div>
  <h1 class="text-lg lg:text-xl font-bold">Create Booking for <%= @tenant.first_name.upcase %></h1>
</div>

<div class="flex-auto overflow-y-auto">
  <div class="max-w-sm">
    <%= form_with model: [@user, @booking], url: tenant_bookings_path, data: {turbo: false} do |f| %>
      
      <% invalid_move_in_date = @booking.errors.include?(:move_in_date) %>
      <div class="mb-2">
        <div class="flex items-center gap-2 mb-1">
          <%= f.label :move_in_date, class: 'block font-medium capitalize' %> 
          <% if invalid_move_in_date %>
            <% @booking.errors.full_messages_for(:move_in_date).each do |msg| %>
              <div class="text-red-500 text-sm">
                (<%= msg %>)
              </div>
            <% end %>
          <% end %>
        </div>
        <%= f.date_field :move_in_date, autofocus: (true if invalid_move_in_date), class: "bg-gray-50 border text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 uppercase #{invalid_move_in_date ? 'border-red-400 border-2 focus:ring-red-400 focus:border-red-400' : 'border-gray-300 focus:ring-blue-500 focus:border-blue-500'}" %>
      </div>

      <% invalid_room = @booking.errors.include?(:room) %>
      <div class="mb-6">
        <div class="flex items-center gap-2 mb-1">
          <%= f.label 'Room', class: 'block font-medium' %>
          <% if invalid_room %>
            <% @booking.errors.full_messages_for(:room).each do |msg| %>
              <div class="text-red-500 text-sm">
                (<%= msg %>)
              </div>
            <% end %>
          <% end %>
        </div>
        <%= f.select(:room_id, options_from_collection_for_select(Room.where('available_count > 0').order(room_code: :asc), :id, :room_code), { include_blank: 'Select Room' }, { class: "bg-gray-50 border text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 #{invalid_room ? 'border-red-400 border-2 focus:ring-red-400 focus:border-red-400' : 'border-gray-300 focus:ring-blue-500 focus:border-blue-500'}", autofocus: (true if invalid_room) }) %>
      </div>

      <div class="flex gap-2 place-items-center">
        <%= f.submit 'Create Booking', class: 'block py-1.5 px-4 font-medium text-center text-white bg-blue-600 rounded-lg focus:ring-4 focus:ring-blue-200 hover:bg-blue-700 hover:cursor-pointer w-fit' %>
        <%= link_to 'Cancel', tenant_path(@tenant), class: 'block py-1.5 px-4 font-medium text-center text-white bg-blue-600 rounded-lg focus:ring-4 focus:ring-blue-200 hover:bg-blue-700 hover:cursor-pointer' %>
      </div>
    <% end %>
  </div>
</div>