<div>
  <h1 class="text-xl lg:text-2xl font-bold">Booking Details</h1>
</div>
<div class="flex-auto overflow-y-auto flex flex-col gap-4">
  <div class="flex flex-col gap-1 justify-center">
    <div class="flex gap-2 place-items-center">
      <p class="md:w-40"><strong>Status:</strong></p>
      <% if @booking.active? %>
        <h1 class="text-white font-medium rounded-lg text-sm px-2 py-1 bg-blue-600"><%= @booking.status.upcase %></h1>
      <% elsif @booking.inactive? %>
        <h1 class="text-white font-medium rounded-lg text-sm px-2 py-1 bg-gray-400"><%= @booking.status.upcase %></h1>
      <% end %>
      <% if @booking.active? && !current_user.tenant? && @booking.deposit.released? %>
        <%= link_to 'DEACTIVATE', deactivate_booking_path(@booking), class: 'block w-fit py-1 px-2 text-sm font-medium text-center text-white bg-gray-400 rounded-lg focus:ring-4 focus:ring-blue-200 hover:bg-gray-600 hover:cursor-pointer' %>
      <% end %>
    </div>
    <% if !current_user.tenant? %>
      <div class="flex gap-2 place-items-center">
        <p class="md:w-40"><strong>Tenant:</strong></p>
        <p><%= @booking.user.email %></p>
      </div>
    <% end %>
    <div class="flex flex-col gap-1 justify-center md:flex-row md:place-items-center md:justify-start md:gap-2">
      <p class="md:w-40"><strong>Branch:</strong></p>
      <p><%= @booking.room.branch.branch_type %> | <%= @booking.room.branch.address %></p>
    </div>
    <div class="flex gap-2 place-items-center">
      <p class="md:w-40"><strong>Room:</strong></p>
      <% if current_user.tenant? %>
        <p class="md:w-40"><%= @booking.room.room_code %></p>
      <% else %>
        <p><%= link_to @booking.room.room_code, branch_room_path(@booking.room.branch, @booking.room), class: 'font-medium text-blue-600 hover:underline' %></p>
      <% end %>
    </div>
    <div class="flex gap-2 place-items-center">
      <p class="md:w-40"><strong>Monthly Rate:</strong></p>
      <p><%= number_to_currency(@booking.room.monthly_rate, unit: '₱') %></p>
    </div>
    <div class="flex gap-2 place-items-center">
      <p class="md:w-40"><strong>Move-In Date:</strong></p>
      <p><%= @booking.move_in_date %></p>
    </div>
    <div class="flex gap-2 place-items-center">
      <p class="md:w-40"><strong>Move-Out Date:</strong></p>
      <p><%= @booking.move_out_date ? @booking.move_out_date : '-' %></p>
    </div>
    <div class="flex gap-2 place-items-center">
      <p class="md:w-40"><strong>Due Date:</strong></p>
      <p><%= @booking.due_date %></p>
    </div>
    <div class="flex gap-2 mt-2 items-center">
      <span class="md:w-40"><strong>Deposits</strong></span>
      <% if !current_user.receptionist? && !current_user.tenant? && !@booking.deposit.released? %>
        <%= button_to 'RELEASE', release_deposit_booking_path(@booking), method: :post, class: 'block w-fit py-1 px-2 text-sm font-medium text-center text-white bg-gray-400 rounded-lg focus:ring-4 focus:ring-blue-200 hover:bg-gray-600 hover:cursor-pointer' %>
      <% end %>
    </div>
    <div class="flex gap-2 place-items-center">
      <p class="md:w-40"><strong>Security:</strong></p>
      <p><%= number_to_currency(@booking.deposit.security, unit: '₱') %></p>
    </div>
    <div class="flex gap-2 place-items-center">
      <p class="md:w-40"><strong>Utility:</strong></p>
      <p><%= number_to_currency(@booking.deposit.utility, unit: '₱') %></p>
    </div>
    <div class="flex gap-2 place-items-center">
      <p class="md:w-40"><strong>Key:</strong></p>
      <p><%= number_to_currency(@booking.deposit.key, unit: '₱') %></p>
    </div>
    <div class="flex gap-2 place-items-center mb-4">
      <p class="md:w-40"><strong>Bed Sheet:</strong></p>
      <p><%= number_to_currency(@booking.deposit.bed_sheet, unit: '₱') %></p>
    </div>
  </div>
  <div>
    <div class="flex gap-2 place-items-center mb-2">
      <h1 class="text-lg lg:text-xl font-bold">Invoices</h1>
      <% if @booking.active? && !current_user.tenant? && @booking.invoices.where(status: 'unpaid').empty? %>
        <%= link_to 'New Invoice', new_booking_invoice_path(@booking), class: 'block w-fit py-1 px-4 text-sm font-medium text-center text-white bg-blue-600 rounded-lg focus:ring-4 focus:ring-blue-200 hover:bg-blue-700 hover:cursor-pointer' %>
      <% end %>
    </div>
    <% if @booking.invoices.any? %>
      <div class="overflow-x-auto relative rounded-md">
        <table class="w-full text-sm text-left text-gray-500">
          <thead class="text-xs text-gray-800 uppercase bg-gray-200 lg:table-fixed">
            <tr>
              <th class="p-3">ID</th>
              <th class="p-3 text-center">Status</th>
              <th class="p-3 text-center">Total Amount</th>
              <th class="p-3 text-center">Date From</th>
              <th class="p-3 text-center">Date To</th>
              <th class="p-3 text-center">Payment Date</th>
              <th class="p-3 text-center">Remarks</th>
              <% if !current_user.tenant? %>
                <th class="p-3 text-center">Processed By</th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @booking.invoices.each do |invoice| %>
            <tr class="bg-white border-b hover:bg-gray-100 text-gray-800">
              <td class="p-3"><%= link_to invoice.id, invoice_path(invoice), class: 'font-medium text-blue-600 hover:underline'  %></td>
              <td class="p-3 text-center">
                <% if invoice.unpaid? %>
                  <span class="text-white font-medium rounded-lg text-sm px-2 py-1 bg-orange-600"><%= invoice.status.upcase %></span>
                <% elsif invoice.paid? %>
                  <span class="text-white font-medium rounded-lg text-sm px-2 py-1 bg-blue-700"><%= invoice.status.upcase %></span>
                <% end %>
              </td>
              <td class="p-3 text-center"><%= number_to_currency(invoice.total_amount, unit: '₱') %></td>
              <td class="p-3 text-center"><%= invoice.date_from %></td>
              <td class="p-3 text-center"><%= invoice.date_to %></td>
              <td class="p-3 text-center"><%= invoice.payment ? invoice.payment.updated_at.strftime("%Y-%m-%d") : '-' %></td>
              <td class="p-3 text-center"><%= invoice.remarks %></td>
              <% if !current_user.tenant? %>
                <td class="p-3 text-center"><%= invoice.processed_by %></td>
              <% end %>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <div>
        <p class="text-sm italic">Booking has no invoice yet</p>
      </div>
    <% end %>
  </div>
</div>