<h1>Booking Details</h1>


<p><strong>Status: </strong><%= @booking.status.upcase %></p>
<p><strong>Tenant: </strong><%= "#{@booking.user.first_name} #{@booking.user.last_name}" %></p>
<p><strong>Branch: </strong><%= @booking.room.branch.branch_type %> | <%= @booking.room.branch.address %></p>
<p><strong>Room: </strong><%= @booking.room.room_code %></p>
<p><strong>Monthly Rate: </strong><%= @booking.room.monthly_rate %></p>
<p><strong>Move-In Date: </strong><%= @booking.move_in_date %></p>
<p><strong>Due Date: </strong><%= @booking.due_date %></p>

<% if current_user.cashier? %>
  <h1>Active Invoice/s for this Booking</h1>

  <% if @invoices.any? %>
    <table>
      <thead>
        <th>Status</th>
        <th>Date Posted</th>
        <th>Posted By</th>
        <th>Total Amount</th>
      </thead>
      <tbody>
        <% @invoices.each do |invoice| %>
          <tr>
            <td><%= invoice.status.upcase %></td>
            <td><%= invoice.created_at %></td>
            <td><%= invoice.processed_by %></td>
            <td><%= invoice.total_amount %></td>
            <td><%= link_to 'View Details', invoice_path(invoice) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p><em>No Active Invoice Found</em></p>
  <% end %>


  <br>

  <br>

  <% if @booking.active? %>
    <%= link_to 'New Invoice', new_booking_invoice_path({ :booking_id => @booking, :room_rate => @booking.room.monthly_rate, :date_from => @booking.due_date - 1.month, :date_to => @booking.due_date }) %>
  <% end %>
<% end %>
<%= button_to 'Deactivate', deactivate_booking_path %>



<br>

<%= link_to 'Back', tenants_path %>


