<% url = request.path_info %>
<div>
  <div class="flex place-items-center gap-2 mb-2">
    <% if url.include? "active" %>
      <h1 class="text-xl lg:text-2xl font-bold">Active Users</h1>
    <% else %>
      <h1 class="text-xl lg:text-2xl font-bold">Users</h1>
    <% end %>
    
    <%= link_to 'Add User', new_user_path, class: 'block py-1.5 px-4 text-sm font-medium text-center text-white bg-blue-600 rounded-lg focus:ring-4 focus:ring-blue-200 hover:bg-blue-700 hover:cursor-pointer w-fit' %>
  </div>
  <div>
    <%= search_form_for @q do |f| %>
      <div class="relative">
        <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
          <i class="fa-solid fa-magnifying-glass w-5 h-5"></i>
        </div>
        <%= f.search_field :email_or_first_name_or_last_name_cont, placeholder: 'Search User', class: 'block p-4 pl-10 w-full text-sm text-gray-900 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500' %>
        <%= f.submit 'Search', class: 'text-white absolute right-20 bottom-2.5 bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 hover:cursor-pointer hidden md:block'  %>
        <%= link_to 'Clear', users_path, class: 'text-white absolute right-2.5 bottom-2.5 bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2' %>
      </div>
    <% end %>
  </div>
</div>

<div class="overflow-y-auto flex-auto">
  <% if users.any? %>
    <div class="overflow-x-auto relative rounded-md">
      <table class="w-full text-sm text-left text-gray-500 lg:table-fixed">
        <thead class="text-xs text-gray-800 uppercase bg-gray-200 lg:table-fixed">
          <tr>
            <th class="p-3 w-1/12 text-center">Avatar</th>
            <th class="p-3 text-center">Email</th>
            <th class="p-3 text-center">First Name</th>
            <th class="p-3 text-center">Last Name</th>
            <th class="p-3 text-center w-1/6"><%= sort_link(@q, :role, 'Role', default_order: :desc, class: 'underline' ) %></th>
            <% if !url.include? "active" %>
              <th class="p-3 text-center w-[80px]">Status</th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% users.order(status: :asc).each do |user| %>
            <tr class="bg-white border-b hover:bg-gray-100 text-gray-800">
              <td class="p-3">
                <% if user.avatar.attached? %>
                  <%= image_tag user.avatar, class: 'max-w-[35px] h-auto rounded-lg m-auto' %>
                <% else %>
                  <%= image_tag ("user.png"), class: 'max-w-[35px] h-auto rounded-lg m-auto' %>
                <% end %>
              </td>
              <td class="p-3 text-center"><%= link_to user.email, user_path(user), class: 'font-medium text-blue-600 hover:underline' %></td>
              <td class="p-3 text-center"><%= user.first_name %></td>
              <td class="p-3 text-center"><%= user.last_name %></td>
              <td class="p-3 text-center"><%= user.role.capitalize %></td>
              <% if !url.include? "active" %>
                <td class="p-3 text-center"><%= user.status.capitalize %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div>
      <p class="italic text-sm">User not found</p>
    </div>
  <% end %>
</div>