<h1>Edit Role</h1>

<h2><%= @user.email %> | <%= @user.role.upcase %></h2>

<%= form_with model: @user, url: user_path, method: :patch do |f| %>

  <div>
    <% if @user.errors.any? %>
      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      /ul>
    <% end %>
  </div>

  <div>
    <p>Role</p>
    <%= f.radio_button :role, 'tenant' %>Tenant<br />
    <%= f.radio_button :role, 'receptionist' %>Receptionist<br />
    <%= f.radio_button :role, 'cashier' %>Cashier<br />
    <% if current_user.owner? %>
      <%= f.radio_button :role, 'admin' %>Admin<br />
    <% end %>
    
  </div>
  <br>
  <div>
    <%= f.submit 'Update Role' %>
  </div>

<% end %>

