<div>
  <h1 class="text-lg lg:text-xl font-bold">Edit Role</h1>
</div>


<div class="flex-auto overflow-y-auto">
  <h2 class="lg:text-lg font-medium mb-4"><%= @user.email %> | <%= @user.role.capitalize %></h2>
  <%= form_with model: @user, data: {turbo: false} do |f| %>
    <% if @user.errors.any? %>
      <div class="w-full p-2 rounded-lg mb-2 text-red-700 bg-red-300 font-medium">
        <% @user.errors.full_messages.each do |error| %>
          <div><%= error %></div>
        <% end %>
      </div>
    <% end %>
    <div class="mb-10">
      <div class="flex flex-col gap-2 justify-center">
        <p class="font-medium">Role:</p>
        <div class="flex gap-2 place-items-center">
          <%= f.radio_button :role, 'tenant' %>
          <%= f.label 'Tenant' %>
        </div>
        <div class="flex gap-2 place-items-center">
          <%= f.radio_button :role, 'receptionist' %>
          <%= f.label 'Receptionist' %>
        </div>
        <div class="flex gap-2 place-items-center">
          <%= f.radio_button :role, 'cashier' %>
          <%= f.label 'Cashier' %>
        </div>
        <% if current_user.owner? %>
          <div class="flex gap-2 place-items-center">
            <%= f.radio_button :role, 'admin' %>
            <%= f.label 'Admin' %>
          </div>
          <div class="flex gap-2 place-items-center">
            <%= f.radio_button :role, 'owner' %>
            <%= f.label 'Owner' %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="flex gap-2 place-items-center">
      <%= f.submit 'Update Role', class: 'block py-1.5 px-4 text-sm font-medium text-center text-white bg-blue-600 rounded-lg focus:ring-4 focus:ring-blue-200 hover:bg-blue-700 hover:cursor-pointer' %>
      <%= link_to 'Cancel', user_path(@user), class: 'block py-1.5 px-4 text-sm font-medium text-center text-white bg-blue-600 rounded-lg focus:ring-4 focus:ring-blue-200 hover:bg-blue-700 hover:cursor-pointer' %>
    </div>
  <% end %>
</div>



