<div>
  <h1 class="text-lg lg:text-xl font-bold mb-2">New User</h1>
</div>

<div class="flex-auto overflow-y-auto">
  <div class="max-w-sm p-1">
    <%= form_with model: @user, data: {turbo: false} do |f| %>
      <% if @user.errors.any? %>
        <div class="w-full p-2 rounded-lg mb-2 text-red-700 bg-red-300 font-medium text-sm">
          <% @user.errors.full_messages.each do |error| %>
            <div><%= error %></div>
          <% end %>
        </div>
      <% end %>

      <div class="mb-2">
        <%= f.email_field :email, placeholder: 'Email', class: 'w-full block border border-gray-200 rounded-lg' %>
      </div>

      <div class="mb-2">
        <%= f.password_field :password, placeholder: 'Password', class: 'w-full block border border-gray-200 rounded-lg' %>
      </div>

      <div class="mb-2">
        <%= f.password_field :password_confirmation, placeholder: 'Confirm Password', class: 'w-full block border border-gray-200 rounded-lg' %>
      </div>

      <div class="mb-2">
        <%= f.text_field :first_name, placeholder: 'First Name', class: 'w-full block border border-gray-200 rounded-lg' %>
      </div>

      <div class="mb-2">
        <%= f.text_field :last_name, placeholder: 'Last Name', class: 'w-full block border border-gray-200 rounded-lg' %>
      </div>

      <div class="mb-2">
        <%= f.label :birthdate, class: 'block font-medium mb-1' %>
        <%= f.date_field :birthdate, class: 'w-full block border border-gray-200 rounded-lg' %>
      </div>

      <div class="mb-2">
        <div class="flex flex-col gap-2 justify-center">
          <p class="font-medium">Gender:</p>
          <div class="flex gap-2 place-items-center">
            <%= f.radio_button :role, 'male' %>
            <%= f.label 'Male' %>
          </div>
          <div class="flex gap-2 place-items-center">
            <%= f.radio_button :role, 'female' %>
            <%= f.label 'Female' %>
          </div>
        </div>
      </div>

      <div class="mb-2">
        <%= f.text_field :contact_no, placeholder: 'Contact No', class: 'w-full block border border-gray-200 rounded-lg' %>
      </div>

      <div class="mb-2">
        <%= f.text_field :address, placeholder: 'Address', class: 'w-full block border border-gray-200 rounded-lg' %>
      </div>

      <div class="mb-4">
        <div class="flex flex-col gap-2 justify-center">
          <p class="font-medium">Role:</p>
          <div class="flex gap-2 place-items-center">
            <%= f.radio_button :role, 'tenant' %>
            <%= f.label 'Tenant' %>
          </div>
          <div class="flex gap-2 place-items-center">
            <%= f.radio_button :role, 'receptionist' %>
            <%= f.label 'Receptionist' %>
          </div>
          <div class="flex gap-2 place-items-center">
            <%= f.radio_button :role, 'cashier' %>
            <%= f.label 'Cashier' %>
          </div>
          <% if current_user.owner? %>
            <div class="flex gap-2 place-items-center">
              <%= f.radio_button :role, 'admin' %>
              <%= f.label 'Admin' %>
            </div>
            <div class="flex gap-2 place-items-center">
              <%= f.radio_button :role, 'owner' %>
              <%= f.label 'Owner' %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="flex gap-2 place-items-center">
        <%= f.submit 'Add User', class: 'block py-1.5 px-4 text-sm font-medium text-center text-white bg-blue-600 rounded-lg focus:ring-4 focus:ring-blue-200 hover:bg-blue-700 hover:cursor-pointer' %>
        <%= link_to 'Cancel', users_path, class: 'block py-1.5 px-4 text-sm font-medium text-center text-white bg-blue-600 rounded-lg focus:ring-4 focus:ring-blue-200 hover:bg-blue-700 hover:cursor-pointer' %>
      </div>
    <% end %>
  </div>
</div>



