<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<p><strong>Account Status: </strong><%= @user.status.upcase %></p>
<p><strong>Email: </strong><%= @user.email %></p>
<p><strong>Full Name: </strong><%= "#{@user.first_name} #{@user.last_name}" %></p>
<p><strong>Gender: </strong><%= @user.gender.capitalize %></p>
<p><strong>Birthdate: </strong><%= @user.birthdate %></p>
<p><strong>User Role: </strong><%= @user.role.capitalize %></p>
<p><strong>Contact No.: </strong><%= @user.contact_no %></p>
<p><strong>Address: </strong><%= @user.address.capitalize %></p>
<p><strong>Account Creation Date: </strong><%= @user.created_at %></p>
<h3>In Case Of Emergency</h3>
<p><strong>Contact Person: </strong><%= @user.emergency_contact_person %></p>
<p><strong>Contact No.: </strong><%= @user.emergency_contact_no %></p>


<hr>
<% if @user.active? %>
  <td><%= button_to 'Lock Account', lock_user_path(@user) %></td>
<% else %>
  <td><%= button_to 'Unlock Account', unlock_user_path(@user) %></td>
<% end %>
<br>
<%= link_to 'Update Role', edit_user_path(@user) %>
<br>

<%= link_to 'Back', users_path %>
