<div class="mb-4">
  <div class="mb-4">
    <h1 class="text-lg lg:text-xl font-bold mb-1">User Details</h1>
  </div>
  <div class="border border-gray-200 px-3 py-4 rounded-lg mb-4">
    <div class="flex gap-2 place-items-center mb-2">
      <p><strong>Status:</strong></p>
      <% if @user.active? %>
        <p class="text-white font-medium rounded-lg text-sm px-2 py-1 bg-green-600"><%= @user.status.upcase %></p>
      <% elsif @user.inactive? %>
        <p class="text-white font-medium rounded-lg text-sm px-2 py-1 bg-gray-400"><%= @user.status.upcase %></p>
      <% end %>
    </div>
    <div class="flex gap-2 place-items-center mb-2">
      <p><strong>User Role:</strong></p>
      <p><%= @user.role %></p>
    </div>
    <div class="flex gap-2 place-items-center mb-2">
      <p><strong>Email:</strong></p>
      <p><%= @user.email %></p>
    </div>
    <div class="flex gap-2 place-items-center mb-2">
      <p><strong>Full Name:</strong></p>
      <p><%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></p>
    </div>
    <div class="flex gap-2 place-items-center mb-2">
      <p><strong>Gender:</strong></p>
      <p><%= @user.gender.capitalize %></p>
    </div>
    <div class="flex gap-2 place-items-center mb-2">
      <p><strong>Birthdate:</strong></p>
      <p><%= @user.birthdate %></p>
    </div>
    <div class="flex gap-2 place-items-center mb-2">
      <p><strong>Contact No:</strong></p>
      <p><%= @user.contact_no %></p>
    </div>
    <div class="flex gap-2 place-items-center mb-6">
      <p><strong>Address:</strong></p>
      <p><%= @user.address.capitalize %></p>
    </div>

    <div class="flex gap-2 place-items-center">
      <%= link_to 'Update Role', edit_user_path(@user), class: 'block w-fit py-1.5 px-4 text-sm font-medium text-center text-white bg-blue-600 rounded-lg focus:ring-4 focus:ring-blue-200 hover:bg-blue-700 hover:cursor-pointer' %>
      <% if @user.active? %>
        <%= button_to 'Lock Account', lock_user_path(@user), class: 'block w-fit py-1.5 px-4 text-sm font-medium text-center text-white bg-blue-600 rounded-lg focus:ring-4 focus:ring-blue-200 hover:bg-blue-700 hover:cursor-pointer' %>
      <% else %>
        <%= button_to 'Unlock Account', unlock_user_path(@user), class: 'block w-fit py-1.5 px-4 text-sm font-medium text-center text-white bg-blue-600 rounded-lg focus:ring-4 focus:ring-blue-200 hover:bg-blue-700 hover:cursor-pointer' %>
      <% end %>
    </div>
  
  </div>
</div>

<%= link_to 'Back', users_path, class: 'block w-fit py-1.5 px-4 text-sm font-medium text-center text-white bg-blue-600 rounded-lg focus:ring-4 focus:ring-blue-200 hover:bg-blue-700 hover:cursor-pointer' %>


