<div class="p-2 md:px-4 lg:px-6 bg-white w-full flex justify-between place-items-center">
  <div>
    <%#= link_to 'MWPMI', authenticated_root_path, class: 'text-2xl font-extrabold tracking-tight leading-none text-gray-800 md:text-4xl hover:text-gray-700 transition-all duration-300' %>
    <%= link_to authenticated_root_path do %>
      <%= render 'shared/logo' %>
    <% end %>
  </div>
  <div class="lg:hidden flex gap-3 place-items-center">
    <div>
      <%= link_to profile_path do %>
        <% if current_user.avatar.attached? %>
          <%= image_tag current_user.avatar, class: 'max-w-[30px] h-auto rounded-lg m-auto' %>
        <% else %>
          <%= image_tag ("user.png"), class: 'max-w-[30px] h-auto rounded-lg m-auto' %>
        <% end %>
      <% end %>
    </div>
    <div class="mobile-menu-button flex items-center justify-center p-1 rounded-md hover:cursor-pointer">
      <i class="fa-solid fa-bars h-7 w-7"></i>
    </div>
  </div>
</div>
