<div>
  <div class="flex place-items-center gap-2 mb-2">
    <h2 class="text-lg md:text-xl lg:text-2xl font-bold">Concern Tickets</h2>
    <% if current_user.tenant? %>
      <%= link_to 'Create Ticket', new_concern_path, class: 'block py-1.5 px-4 text-sm font-medium text-center text-white bg-blue-600 rounded-lg focus:ring-4 focus:ring-blue-200 hover:bg-blue-700 hover:cursor-pointer'  %>
    <% end %>
  </div>
  <div>
    <%= search_form_for @q do |f| %>
    <div class="relative">
      <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
        <i class="fa-solid fa-magnifying-glass w-5 h-5"></i>
      </div>
      <%= f.search_field :title_or_description_cont, placeholder: 'Search Ticket', class: 'block p-4 pl-10 w-full text-sm text-gray-900 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500' %>
      <%= f.submit 'Search', class: 'text-white absolute right-20 bottom-2.5 bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 hover:cursor-pointer hidden md:block'  %>
      <%= link_to 'Clear', concerns_path, class: 'text-white absolute right-2.5 bottom-2.5 bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2' %>
    </div>
  <% end %>
  </div>
</div>

<div class="overflow-y-auto flex-auto">
  <% if current_user.tenant? %>
    <%= render 'list', concerns: @current_user_concerns %>
  <% else %>
    <%= render 'list', concerns: @concerns %>
  <% end %>
</div>