<div>
  <h2 class="text-lg lg:text-xl font-bold">Concern Ticket <%= @concern.id %></h2>
</div>

<div class="flex-auto overflow-y-auto">
  <div class="flex gap-2 place-items-center mb-2">
    <p><strong>Status:</strong></p>
    <% if @concern.open? %>
      <h1 class="text-white font-medium rounded-lg text-sm px-2 py-1 bg-green-600"><%= @concern.status.upcase %></h1>
    <% elsif @concern.closed? %>
      <h1 class="text-white font-medium rounded-lg text-sm px-2 py-1 bg-gray-400"><%= @concern.status.upcase %></h1>
    <% end %>
  </div>
  <% if !current_user.tenant? %>
    <div class="flex gap-2 place-items-center mb-2">
      <p><strong>Posted by: </strong></p>
      <%= link_to @tenant.email, tenant_path(@tenant), class: 'font-medium text-blue-600 hover:underline' %>
    </div>
  <% end %>

  <div class="flex gap-2 place-items-center mb-1">
    <p><strong>Concern: </strong></p>
    <p><%= @concern.title %></p>
  </div>

  <div class="flex flex-col gap-1 mb-4">
    <p><strong>Description:</strong></p>
    <p><%= @concern.description %></p>
  </div>

  <div class="flex gap-2 items-center">
    <% if @concern.open? %>
      <%= link_to 'Close Ticket', close_concern_path, class: 'block py-1.5 px-4 text-sm font-medium text-center text-white bg-blue-600 rounded-lg focus:ring-4 focus:ring-blue-200 hover:bg-blue-700 hover:cursor-pointer w-fit' %>
    <% elsif @concern.closed? && current_user.tenant? %>
      <%= button_to 'Re-Open Ticket', reopen_concern_path, class: 'block w-fit py-1.5 px-4 text-sm font-medium text-center text-white bg-blue-600 rounded-lg focus:ring-4 focus:ring-blue-200 hover:bg-blue-700 hover:cursor-pointer' %>
    <% end %>
  </div>
</div>

<div>
  <%= link_to 'Back', concerns_path, class: 'block w-fit py-1.5 px-4 text-sm font-medium text-center text-white bg-blue-600 rounded-lg focus:ring-4 focus:ring-blue-200 hover:bg-blue-700 hover:cursor-pointer' %>
</div>

