<h1>Payments</h1>

<%= form_with model: Payment.new, url: invoice_payment_path, method: :post do |f| %>
  
  <div>
    <% if @payment.errors.any? %>
      <ul>
        <% @payment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      /ul>
    <% end %>
  </div>

  <div>
    <%= f.label :amount %> <br>
    <%= f.number_field :amount, :value => params[:amount], readonly: true  %> <br><br>
  </div>

  <%= f.hidden_field :initiated_by, value: current_user.email %>

  
  <% if current_user.tenant? %>
    <%= f.hidden_field :payment_mode, value: 'transfer' %>
    <div>
      <%= f.label :proof %> <br>
      <%= f.file_field :proof %> <br><br>
  </div>
  <% end %>
  

  <div>
    <%= f.submit 'Pay' %>
  </div>
<% end %>