<div>
  <h1 class="text-xl lg:text-2xl font-bold">Payment Details</h1>
</div>
<div class="flex-auto overflow-y-auto">
  <div class="flex flex-col gap-2">
    <div class="flex gap-2 place-items-center">
      <p class="w-40"><strong>Status:</strong></p>
      <% if @payment.pending? %>
        <p class="text-white font-medium rounded-lg text-sm px-2 py-1 bg-green-600"><%= @payment.status.upcase %></p>
      <% elsif @payment.approved? %>
        <p class="text-white font-medium rounded-lg text-sm px-2 py-1 bg-blue-600"><%= @payment.status.upcase %></p>
      <% elsif @payment.cancelled? %>
        <p class="text-white font-medium rounded-lg text-sm px-2 py-1 bg-gray-400"><%= @payment.status.upcase %></p>
      <% end %>
    </div>
    <div class="flex gap-2 place-items-center">
      <p class="w-40"><strong>Invoice ID:</strong></p>
      <p><%= link_to @payment.invoice.id, invoice_path(@payment.invoice), class: 'font-medium text-blue-600 hover:underline' %></p>
    </div>
    <div class="flex flex-col gap-1 md:flex-row md:gap-2 md:place-items-center">
      <p class="w-40"><strong>Payment Date:</strong></p>
      <p><%= @payment.created_at.strftime("%Y-%b-%d, %I:%M:%S %p") %></p>
    </div>
    
    <div class="flex gap-2 place-items-center">
      <p class="w-40"><strong>Mode of Payment:</strong></p>
      <p><%= @payment.payment_mode.capitalize %></p>
    </div>
    <div class="flex gap-2 place-items-center">
      <p class="w-40"><strong>Remarks:</strong></p>
      <p><%= @payment.remarks.capitalize %></p>
    </div>
    <% if !current_user.tenant? %>
      <div class="flex gap-2 place-items-center">
        <p class="w-40"><strong>Processed by:</strong></p>
        <p><%= @payment.initiated_by %></p>
      </div>
    <% end %>
    <% if @payment.paymongo? %>
      <div class="flex gap-2 place-items-center">
        <p class="w-40"><strong>Invoice Amount:</strong></p>
        <p><%= number_to_currency(@payment.invoice.total_amount,unit: '₱') %></p>
      </div>
      <div class="flex gap-2 place-items-center">
        <p class="w-40"><strong>Convenience Fee:</strong></p>
        <p><%= number_to_currency(((@payment.invoice.total_amount / 0.975) - @payment.invoice.total_amount), unit: '₱') %></p>
      </div>
      <div class="flex gap-2 place-items-center">
        <p class="w-40"><strong>Total Amount:</strong></p>
        <p class="font-bold text-lg"><%= number_to_currency(@payment.amount, unit: '₱') %></p>
      </div>
    <% elsif @payment.cash? %>
      <div class="flex gap-2 place-items-center">
        <p class="w-40"><strong>Total Amount:</strong></p>
        <p class="font-bold text-lg"><%= number_to_currency(@payment.amount, unit: '₱') %></p>
      </div>
    <% end %>
  </div>
</div>