<h1>Payments#show</h1>
<p>Find me in app/views/payments/show.html.erb</p>

<p><strong>Status: </strong><%= @payment.status.upcase %></p>
<p><strong>Invoice ID: </strong><%= @invoice.id %></p>
<p><strong>Amount: </strong><%= @payment.amount %></p>
<p><strong>Mode of Payment: </strong><%= @payment.payment_mode %></p>
<p><strong>Remarks: </strong><%= @payment.remarks %></p>
<p><strong>Processed by: </strong><%= @payment.processed_by %></p>

