<div class="mb-4">
  <h2 class="text-lg lg:text-xl font-bold mb-2">Available Rooms</h2>
  <div class="mb-4">
    <%= search_form_for @q, url: available_rooms_path, method: :get do |f| %>
      <div class="relative">
        <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
          <i class="fa-solid fa-magnifying-glass w-5 h-5"></i>
        </div>
        <%= f.search_field :room_code_cont, placeholder: 'Search Room Code', class: 'block p-4 pl-10 w-full text-sm text-gray-900 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500' %>
        <%= f.submit 'Search', class: 'text-white absolute right-20 bottom-2.5 bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 hover:cursor-pointer'  %>
        <%= link_to 'Clear', available_rooms_path, class: 'text-white absolute right-2.5 bottom-2.5 bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2' %>
      </div>
    <% end %>
  </div>
  <% if @available_rooms.any? %>
    <div class="overflow-x-auto relative rounded-md">
      <table class="w-full text-sm text-left text-gray-500">
        <thead class="text-xs text-gray-800 uppercase bg-gray-200 lg:table-fixed">
          <tr>
            <th class="p-3">Room Code</th>
            <th class="p-3">Branch</th>
            <th class="p-3">Address</th>
            <th class="p-3 text-center">Occupants</th>
            <th class="p-3 text-center">Capacity</th>
            <th class="p-3 text-center">Available</th>
            <th class="p-3 text-center">
              <span class="sr-only">View</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <% @available_rooms.each do |room| %>
            <tr class="bg-white border-b hover:bg-gray-100 text-gray-800">
              <td class="p-3 font-bold"><%= room.room_code %></td>
              <td class="p-3"><%= room.branch.branch_type %></td>
              <td class="p-3"><%= room.branch.address %></td>
              <td class="p-3 text-center"><%= room.occupants_count %></td>
              <td class="p-3 text-center"><%= room.capacity_count %></td>
              <td class="p-3 text-center"><%= room.available_count %></td>
              <td class="p-3 text-center"><%= link_to 'View', [@branches.find(room.branch_id), room], class: 'font-medium text-blue-600 hover:underline' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div>
      <div>
        <p class="italic text-sm">Nothing found</p>
      </div>
    </div>
  <% end %>
  
</div>

