<h1>Dashboards#staff</h1>
<p>Find me in app/views/dashboards/staff.html.erb</p>

<h1>Welcome, <%= current_user.role.upcase %></h1>

<h2>Announcements</h2>
<% if @announcement %>
  <p><strong><%= @announcement.title %></strong></p>
  <p><%= @announcement.description %></p>
<% else %>
  <p>No announcment found</p>
<% end %>

<h2>Available Rooms: <%= @available_rooms_count %> | <%= link_to 'View Details', available_rooms_path %></h2>

<%= link_to 'Profile', profile_path %> <br>
<%= link_to 'Inquiries', inquiries_path %> <br> 
<%= link_to 'Announcements', announcements_path %><br>
<%= link_to 'Branches', branches_path %> <br>
<%= link_to 'Tenants', users_path %>

<br>
<br>

<%= button_to "Sign out", destroy_user_session_path, method: :delete  %> <br>