<h1>Dashboards#tenant</h1>
<p>Find me in app/views/dashboards/tenant.html.erb</p>

<h1>Welcome, <%= current_user.role.upcase %></h1>

<h2>Announcements</h2>
<% if @announcement %>
  <p><strong><%= @announcement.title %></strong></p>
  <p><%= @announcement.description %></p>
<% else %>
  <p>No announcement found</p>
<% end %>

<%= link_to 'Profile', profile_path %> <br>
<%= link_to 'Announcements', announcements_path %><br>
<%= link_to 'Concerns', concerns_path %><br>

<br>
<br>

<%= button_to "Sign out", destroy_user_session_path, method: :delete  %> <br>
