<%= render 'shared/announcements' %>
<br>

<div>
  <div class="mb-2">
    <h2 class="text-lg lg:text-xl font-bold"><i class="fa-solid fa-receipt w-5 h-5 flex-shrink-0 text-gray-800"></i> Payment Details</h2>
  </div>
  <div>
    <% if @active_invoices.any? %>
      <% @active_invoices.each do |invoice| %>
        <div class="sm:hidden p-2 text-sm flex flex-col gap-2 justify-center">
          <div>
            <p><strong>Total Amount: ₱</strong><%= (invoice.total_amount * 1.025).ceil(2) %></p>

            <p><strong>Date From: </strong><%= invoice.date_from %></p>
            <p><strong>Date To: </strong><%= invoice.date_to %></p>
            <p><strong>Due Date: </strong><%= invoice.booking.due_date %></p>
            <%= link_to 'View', payment_invoice_path(invoice), class: 'block text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm py-1 px-1 text-center m-auto' %>
          </div>
        </div>
        <div class="hidden sm:block overflow-x-auto relative rounded-md border border-gray-200">
          <table class="w-full text-sm text-left text-gray-500">
            <thead class="text-xs text-gray-800 uppercase bg-gray-200">
              <tr>
                <th class="py-3 px-3">Total Amount</th>
                <th class="py-3 px-3">Date From</th>
                <th class="py-3 px-3">Date To</th>
                <th class="py-3 px-3">Due Date</th>
                <th class="py-3 px-3">
                  <span class="sr-only">View</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <% @active_invoices.each do |invoice| %>
                <tr class="bg-white border-b hover:bg-gray-100 text-gray-800">
                  <td class="py-3 px-3 font-bold">₱<%= (invoice.total_amount * 1.025).ceil(2) %></td>
                  <td class="py-3 px-3"><%= invoice.date_from %></td>
                  <td class="py-3 px-3"><%= invoice.date_to %></td>
                  <td class="py-3 px-3"><%= invoice.booking.due_date %></td>
                  <% if invoice.payment.present? %>
                    <td class="p-3 italic">Payment Under Review</td>
                  <% else %>
                    <td class="py-4 px-3 whitespace-nowrap">
                      <%= link_to 'View', payment_invoice_path(invoice), class: 'block text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm py-1 px-1 text-center m-auto' %>
                    </td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    <% else %>
      <div>
        <p class="italic text-sm">No payment due</p>
      </div>
    <% end %>
  </div>
</div>

<br>

