<h1>New Expense</h1>

<%= form_with model: @expense do |f| %>
  
  <div>
    <% if @expense.errors.any? %>
      <ul>
        <% @expense.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      /ul>
    <% end %>
  </div>

  <div>
    <%= f.label :title %> <br>
    <%= f.email_field :title %>
  </div>

  <div>
    <%= f.label :description %> <br>
    <%= f.text_area :description, :cols => 30, :rows => 10 %>
  </div>

  <div>
    <%= f.label :amount %> <br>
    <%= f.number_field :amount %>
  </div>

  <div>
    <%= f.submit 'Add Expense' %>
  </div>
<% end %>