<div>
  <h2 class="text-lg lg:text-xl font-bold">Expense ID: <%= @expense.id %></h2>
</div>

<div class="overflow-y-auto flex-auto">
  <div class="flex gap-2 place-items-center mb-2">
    <p><strong>Title:</strong>
    <p><%= @expense.title %></p>
  </div>
  <div class="flex flex-col gap-1 justify-center mb-2">
    <p><strong>Description:</strong>
    <p><%= @expense.description %></p>
  </div>
  <div class="flex gap-2 place-items-center mb-2">
    <p><strong>Amount:</strong>
    <p><%= number_to_currency(@expense.amount, unit: '₱') %></p>
  </div>
  <div class="flex gap-2 place-items-center mb-2">
    <p><strong>Processed by:</strong>
    <p><%= @expense.processed_by %></p>
  </div>
  <div class="flex flex-col gap-2 mb-2">
    <p><strong>Proof:</strong></p>
    <% if @expense.proof.attached? %>
      <%= image_tag @expense.proof, width: "120px", height: "120px" %>
    <% else %>
      <p><em>No proof uploaded</em></p>
    <% end %>
  </div>
</div>

<div>
  <%= link_to 'Back', expenses_path, class: 'block w-fit py-1.5 px-4 text-sm font-medium text-center text-white bg-blue-600 rounded-lg focus:ring-4 focus:ring-blue-200 hover:bg-blue-700 hover:cursor-pointer' %>
</div>