<div>
  <h1 class="text-xl lg:text-2xl font-bold mb-2">Inquiries</h1>
  <% if !current_user.receptionist? %>
    <div>
      <%= search_form_for @q do |f| %>
        <div class="relative">
          <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
            <i class="fa-solid fa-magnifying-glass w-5 h-5"></i>
          </div>
          <%= f.search_field :processed_by_cont, placeholder: 'Search Inquiry', class: 'block p-4 pl-10 w-full text-sm text-gray-900 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500' %>
          <%= f.submit 'Search', class: 'text-white absolute right-20 bottom-2.5 bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 hover:cursor-pointer hidden md:block'  %>
          <%= link_to 'Clear', inquiries_path, class: 'text-white absolute right-2.5 bottom-2.5 bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2' %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="overflow-y-auto flex-auto">
  <% if current_user.receptionist? %>
    <div class="mb-4">
      <h2 class="text-lg lg:text-xl font-bold mb-1">Open Inquiries</h2>
      <%= render 'list', inquiries: @open %>
    </div>

    <div class="mb-4">
      <h2 class="text-lg lg:text-xl font-bold mb-1">Inquiries you are Assisting</h2>
      <%= render 'list', inquiries: @on_going %>
    </div>

    <div class="mb-4">
      <h2 class="text-lg lg:text-xl font-bold mb-1">Inquiries you Assisted</h2>
      <%= render 'list', inquiries: @close %>
    </div>
  <% else %>
    <%= render 'list', inquiries: @inquiries %>
  <% end %>
</div>