<div>
  <h1 class="text-xl lg:text-2xl font-bold">Inquiry ID: <%= @inquiry.id %></h1>
</div>
<div class="flex-auto overflow-y-auto">
  <div class="flex gap-2 place-items-center mb-2">
    <p class="md:w-48"><strong>Status:</strong></p>
    <% if @inquiry.open? %>
      <h1 class="text-white font-medium rounded-lg text-sm px-2 py-1 bg-green-600"><%= @inquiry.status.upcase %></h1>
    <% elsif @inquiry.on_going? %>
      <h1 class="text-white font-medium rounded-lg text-sm px-2 py-1 bg-blue-600"><%= @inquiry.status.upcase %></h1>
    <% elsif @inquiry.closed? %>
      <h1 class="text-white font-medium rounded-lg text-sm px-2 py-1 bg-gray-400"><%= @inquiry.status.upcase %></h1>
    <% end %>
  </div>
  <div class="flex gap-2 place-items-center mb-2">
    <p class="md:w-48"><strong>Full Name:</strong></p>
    <p><%= @inquiry.first_name.capitalize %> <%= @inquiry.last_name.capitalize %></p>
  </div>
  <div class="flex gap-2 place-items-center mb-2">
    <p class="md:w-48"><strong>Gender:</strong></p>
    <p><%= @inquiry.gender.capitalize %></p>
  </div>
  <div class="flex gap-2 place-items-center mb-2">
    <p class="md:w-48"><strong>Email:</strong></p>
    <p><%= @inquiry.email %></p>
  </div>
  <div class="flex gap-2 place-items-center mb-2">
    <p class="md:w-48"><strong>Contact No:</strong></p>
    <p><%= @inquiry.contact_no %></p>
  </div>
  <div class="flex gap-2 place-items-center mb-2">
    <p class="md:w-48"><strong>Preferred Location:</strong></p>
    <p><%= @inquiry.location_preference.capitalize %></p>
  </div>
  <div class="flex gap-2 place-items-center mb-2">
    <p class="md:w-48"><strong>Preferred Room Type:</strong></p>
    <p><%= @inquiry.room_type.capitalize %></p>
  </div>
  <div class="flex gap-2 place-items-center mb-2">
    <p class="md:w-48"><strong>Target Move-In Date:</strong></p>
    <p><%= @inquiry.move_in_date %></p>
  </div>
  
  <% if (current_user.admin? || current_user.owner?) && !@inquiry.open? %>
    <div class="flex gap-2 place-items-center mb-2">
      <p class="md:w-48"><strong>Receptionist:</strong></p>
      <p><%= @inquiry.processed_by %></p>
    </div>
  <% end %>

  <% if @inquiry.closed? %>
    <div class="flex gap-2 place-items-center mb-2">
      <p class="md:w-48"><strong>Contract Signed?</strong></p>
      <p><%= @inquiry.contract_signed ? "YES" : "NO" %></p>
    </div>
  <% end %>
  <% if @inquiry.processed_by == current_user.email %>
    <div>
      <%= link_to 'Close Inquiry', close_inquiry_path(@inquiry), class: 'block w-fit py-1.5 px-4 font-medium text-center text-white bg-blue-600 rounded-lg focus:ring-4 focus:ring-blue-200 hover:bg-blue-700 hover:cursor-pointer mt-8' %>
    </div>
  <% end %>
</div>


<div>
  <%= link_to 'Back', inquiries_path, class: 'block w-fit py-1.5 px-4 font-medium text-center text-white bg-blue-600 rounded-lg focus:ring-4 focus:ring-blue-200 hover:bg-blue-700 hover:cursor-pointer' %>
</div>


