<!DOCTYPE html>
<html>
  <head>
    <title>Apartment Management</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= yield :head %>
  </head>

  <body class="h-full overflow-x-hidden">
    <div class="w-full grid lg:grid-cols-[256px_1fr] relative main">
      <aside class="h-screen z-30 w-64 absolute -left-64 lg:relative lg:left-0" aria-label="Sidebar">
        <%= render 'shared/sidebar' %>
      </aside>
      <div class="grid grid-rows-[min-content_1fr] h-screen nav-content">
        <nav class="w-full relative" aria-label="Navbar">
          <%= render 'shared/navbar' %>
        </nav>
        <main class="overflow-y-hidden py-4 px-3 md:px-6 lg:px-10 bg-gray-100">
          <div class="p-5 bg-white border border-gray-200 rounded-lg shadow-md mb-4 h-full flex flex-col gap-4">
            <%= notice if notice %>
            <%= alert if alert %>
            <%= yield %>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
