<!DOCTYPE html>
<html>
  <head>
    <title>Apartment Management</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-screen overflow-x-hidden">
    <div class="w-full grid grid-cols-[min-content_1fr] gap-2">
      <div>
        <%= render 'shared/sidebar' %>
      </div>
      <div class="grid grid-rows-[min-content_1fr] h-screen">
        <div>
          <h1>Navbar</h1>
        </div>
        <div class="overflow-y-auto">
          <%= notice if notice %>
          <%= alert if alert %>
    
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
