<!DOCTYPE html>
<html>
  <head>
    <title>Apartment Management</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= yield :head %>
  </head>

  <body>
    <div class="relative min-h-screen flex">
      <aside class="h-screen w-64 bg-gray-800 flex flex-col justify-between absolute inset-y-0 left-0 z-10 transform -translate-x-full lg:relative lg:translate-x-0 transition duration-300 ease-in-out" aria-label="Sidebar">
        <%= render 'shared/sidebar' %>
      </aside>
      <div class="flex-1 grid grid-rows-[min-content_1fr] h-screen nav-content">
        <nav class="w-full relative" aria-label="Navbar">
          <%= render 'shared/navbar' %>
        </nav>
        <main class="overflow-y-hidden md:py-4 p-2 md:px-6 lg:px-10 bg-gray-100">
          <div class="p-3 md:p-5 bg-white border border-gray-200 rounded-lg shadow-md mb-4 h-full flex flex-col gap-4">
            <% if notice %>
              <div class="p-4 py-2 text-sm text-green-700 bg-green-100 rounded-lg" role="notice">
                <%= notice %>
              </div>
            <% end %>
            <% if alert %>
              <div class="p-4 py-2 text-sm text-red-700 bg-red-100 rounded-lg" role="alert">
                <%= alert %>
              </div>
            <% end %>
            <%= yield %>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
