<!DOCTYPE html>
<html>
  <head>
    <title>Apartment Management</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-screen overflow-x-hidden">
    <div class="w-full grid grid-cols-[max-content_1fr] lg:grid-cols-[250px_1fr]">
      <%= render 'shared/sidebar' %>
      <div class="grid grid-rows-[min-content_1fr] h-screen">
        <%= render 'shared/navbar' %>
        <div class="overflow-y-hidden py-4 px-3 md:px-6 lg:px-10 bg-gray-100">
          <div class="p-5 bg-white border border-gray-200 rounded-lg shadow-md mb-4 h-full flex flex-col gap-2">
            <%= notice if notice %>
            <%= alert if alert %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
