<!DOCTYPE html>
<html>
  <head>
    <title>Apartment Management</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-screen overflow-x-hidden">
    <div class="w-full grid grid-cols-[max-content_1fr] lg:grid-cols-[250px_1fr]">
      <%= render 'shared/sidebar' %>
      <div class="grid grid-rows-[min-content_1fr] h-screen">
        <%= render 'shared/navbar' %>
        <div class="overflow-y-auto py-4 px-3 lg:px-6">
          <%= notice if notice %>
          <%= alert if alert %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
