<!DOCTYPE html>
<html>
  <head>
    <title>MWPMI Portal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="h-screen bg-gray-100 flex items-center justify-center p-2 overflow-y-auto">
      <div class="w-[512px] p-5 rounded-md shadow-lg  bg-white">
        <%= image_tag ("logo2_black.png"), class: 'max-w-[300px] m-auto mb-6' %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
