<!DOCTYPE html>
<html>
  <head>
    <title>MWPMI Portal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="relative flex flex-col gap-2 min-h-screen justify-between p-2">
    <nav class="flex-none flex justify-center place-items-center py-2">
      <span class="self-center text-3xl font-semibold whitespace-nowrap">MWPMI Portal</span>
    </nav>
    <div class="flex-auto p-3 py-1">
      <%= yield %>
    </div>
  </body>
</html>
